<a href="https://colab.research.google.com/github/SuosSovanrith/DataAnalysisI/blob/main/Lab1_SuosSovanrith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lab1: Introduction to Data Analysis**

**Course**: **INF-604: Data Analysis** <br>
**Lecturer**: **Sothea HAS, PhD**

-----

**Objective:**  You have already seen some elements of Data Analysis in the course. In this lab, we will take our first step into working with the main element of Data Analysis, which is the dataset. By the end of this lab, you will be able to import data into a Jupyter Notebook and perform some data manipulation.

- The `notebook` of this `Lab` can be downloaded here: [Lab1_Introduction.ipynb](https://hassothea.github.io/Data_Analysis_AUPP/Labs/Lab1_Introduction.ipynb).

- Or you can work directly with `Google Colab` here: [Lab1_Introduction.ipynb](https://colab.research.google.com/drive/14L1fgW35_yZAW3BIsG-oGLxBO0lXANMO?usp=sharing).

-----

- `Student's name:` Suos Sovanrith
- `Year:` Junior
- `Major:` ICT

-----

## **1. Data for Your Business**

Imagine you want to start your own business, such as a coffee shop or a bookstore. What types of data do you think you need to gather to determine the potential success of your business? Here are some questions to help you think and answer this question:

- What is your plan for the business?

- What information might you need to collect? What is the size of the data?

- Where do you think you can find this information?

- What might go wrong with the collected data?

- We handle such problems in what step of Data Analysis process?

`Answer:`
---------
* I want to open a net cafe.
* Customer's basic information, their computer usage logs (login and logout time), financial data, rating
* customer survey, management system software, online review
* missing data
* data cleaning process

## **2. Importing Some Data**


There are many online data sources that you can explore, and one of the most popular is [`Kaggle`](https://www.kaggle.com/datasets/). In addition to datasets, `Kaggle` also hosts data competitions with prizes and offers courses to help you advance in data learning.


Here, we start our journey by exploring a dataset that you probably have heard its name before: [`Titanic`](https://www.kaggle.com/datasets/yasserh/titanic-dataset). You can download it from `Kaggle` using the following codes.

In [2]:
# %pip install kagglehub

import kagglehub

# Download latest version
path = kagglehub.dataset_download("yasserh/titanic-dataset")


# Pandas module allows you to import the data
import pandas as pd
data = pd.read_csv(path+'/Titanic-Dataset.csv')
data.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

-------

### **2.1. Overview of the data**


Answer the following questions:

**A.** How many rows and columns are there in this dataset?

**B.** Explain the meaning of each column.

**C.** Are there any missing values in this dataset? If so, how many rows contain at least one missing value?

- What should you do with column `Cabin`?

- How would you drop rows with at least one missing value?


------------------

In [3]:
# A. How many rows and columns are there in this dataset?
data.shape
# (891, 12) -> (rows, columns)

(891, 12)

In [4]:
# B. Explain the meaning of each column.
# - survival 	Survival 	0 = No, 1 = Yes
# - pclass 	Ticket class 	1 = 1st, 2 = 2nd, 3 = 3rd
# - sex 	Sex
# - Age 	Age in years
# - sibsp 	number of siblings / spouses aboard the Titanic
# - parch 	number of parents / children aboard the Titanic
# - ticket 	Ticket number
# - fare 	Passenger fare
# - cabin 	Cabin number
# - embarked 	Port of Embarkation 	C = Cherbourg, Q = Queenstown, S = Southampton

In [5]:
# C. Yes, there are missing values

data.isna().sum() / data.shape[0] * 100
    # isna to show whether each columns are missing value or not, and sum to count all missing values for each columns
    # shape[0] to get just the row total
    # divide to get the ratio of missing value and multiply with 100 to get percentages

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [6]:
# We should remove the cabin column

# To drop the cabin column and create a new copy
# data_no_cabin = data.drop(columns=['Cabin'])

# To drop the cabin column directly from the original 'data'
data.drop(columns=['Cabin'], inplace=True)

In [7]:
# Drop rows with at least one missing value
data.dropna(inplace=True)
data.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

-------

### **2.2. Single information**


**D.** How many male and female passengers were on the ship?

**E.** How many of them survived? How many didn't?

**F.** How many passengers were younger than 3 years old? How many were older than 60 years old?

**G.** How many passengers embarked from the three ports?

- `C`: Cherbourg, France.
- `Q`: Queentown, Ireland.
- `S`: Southampton, England.

**H.** How many passengers were in the 1st, 2nd and 3rd class?

In [8]:
# D. How many male and female passengers were on the ship?
data[['Sex']].value_counts()

# data[['Sex']].value_counts(normalize=True) get as percentage value

Sex
male      453
female    259
Name: count, dtype: int64

In [81]:
# E. How many of them survived? How many didn't?
print("Survived:", (data['Survived'] == 1).sum())
print("Dead:", (data['Survived'] == 0).sum())

Survived: 288
Dead: 424

In [33]:
# F. How many passengers were younger than 3 years old?
data.query('Age < 3').shape[0]

24

In [34]:
# F. How many were older than 60 years old
data.query('Age > 60').shape[0]

21

In [20]:
# G. How many passengers embarked from the three ports?
    # C: Cherbourg, France.
    # Q: Queentown, Ireland.
    # S: Southampton, England.
data['Embarked'].value_counts()

Embarked
S    554
C    130
Q     28
Name: count, dtype: int64

In [22]:
# H. How many passengers were in the 1st, 2nd and 3rd class?
data['Pclass'].value_counts().sort_index()

Pclass
1    184
2    173
3    355
Name: count, dtype: int64

-------------

### **2.3. Multiple information**

**I.** How many 1st class passengers survived? How about 2nd and 3rd class?

**J.** How many female passengers survived? How many males did?

**K.** How many people from each embarkation port survived?

**L.** Was `Jack` on the ship? How about `Rose`?

In [32]:
# I. How many 1st class passengers survived?
data.query('Pclass == 1 and Survived == 1').shape[0]
# How about 2nd and 3rd class?
data.query('Pclass == 2 and Survived == 1').shape[0]
data.query('Pclass == 3 and Survived == 1').shape[0]

(85, 11)

In [36]:
# J. How many female passengers survived?
data.query('Sex == "female" and Survived == 1').shape[0]
# How many males did?
data.query('Sex == "male" and Survived == 1').shape[0]

93

In [40]:
# K. How many people from each embarkation port survived?
data.query('Embarked == "C" and Survived == 1').shape[0]
data.query('Embarked == "S" and Survived == 1').shape[0]
data.query('Embarked == "Q" and Survived == 1').shape[0]

79

In [62]:
# L. Was Jack on the ship? How about Rose?
# Fullname: Jack Dawson and Rose DeWitt Bukater

data[data['Name'].str.contains(r'\bJack\b')] # \b...\b Makes sure to match the whole word "Jack" and not "Jackie"

data[data['Name'].str.contains(r'\bRose\b')]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Embarked]
Index: []

# **Further Reading**

- `Pandas` python library: https://pandas.pydata.org/docs/getting_started/index.html#getting-started

- `10 Minute to Pandas`: https://pandas.pydata.org/docs/user_guide/10min.html

- `Some Pandas Lession`: https://www.kaggle.com/learn/pandas

---------